* {
  box-sizing: border-box;
}

h1 {
	font-size: 27px;
	font-family: Helvetica;
	text-align: center;
	color: 	#B22222;
	margin-bottom: 30px;
}

p {
	padding: 15px 5px 0px 5px;
	font-family: Georgia sans-serif;
	font-size: 16px;
	position: relative;
}

.highlight { 
	background-color: #DEB887;
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 20px;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	float: right; top :0; right: 0; margin: 0;
	position: absolute;
}
#sp1 {
	background-color: #0000FF;
	color: #000000;
}
#sp2 {
	background-color: #FF7F50;
	color: #FFFFFF;
}
#sp3 {
	background-color: #FFFACD;
	color: 	#000000;
}
}

.row {
	width: 100%;
}

/* Desktop PC view */

@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/* Cell phone view */
@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}